.contractor-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #ddd; /* Borde más suave */
    background-color: #f9f9f9;
}

.contractor-table td {
    padding: 10px;
    vertical-align: middle;
    border: 1px solid #ddd; /* Bordes más ligeros */
}

.contractor-title {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding-right: 20px;
    color: #222; /* Texto más oscuro para mejor contraste */
}

.contractor-content {
    font-size: 16px;
    text-align: center;
    color: #333;
}

/* Contenedor del logo Progen */
.contractor-logo img, 
.right-logo img {
    max-width: 180px;
    height: auto;
    display: block;
    border: none !important; /* Elimina cualquier borde */
    box-shadow: none !important; /* Quita sombras */
    background-color: transparent !important; /* Evita fondos no deseados */
}


.contractor-logo img, 
.right-logo img {
    max-width: 180px;
    height: auto;
    display: block;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

